@if (Request.IsAuthenticated) {
    <text> Witaj, @System.Web.HttpContext.Current.User.Identity.Name <a id="button-logout" href="#">wyloguj</a> </text>
} else {
    <text>
    Login:
    <input id="txt-login" style="width:200px" type="text" />
    Hasło:
    <input id="txt-pass" style="width:200px" type="password" />
    <a id="button-login" href="#">zaloguj</a>
    @Html.ActionLink("zarejestruj", "Register", "Home")
    </text>
}
