<div id="addContactView" title="Dodaj znajomego">
    <div>
        Użytkownik:</br>
        <input type="text" id="userLogin">
    </div>
    <div>
        Nazwa na liście: 
        <input type="text" id="userNickname">
    </div>
</div>