<div id="{{user_id}}" class="contact odd" ondblclick="duta.startConversation('{{user_id}}')">
	<span class="glyphicon glyphicon-certificate status {{status}}"></span><div class="name">{{nickname}}</div></br>
	<div class="description">{{description}}</div>	
</div>