<div class="tab-pane active conversation" id="{{users}}">
	<div class="tabMenu">
        <span id="participants2">{{participants2}}</span>
		<div class="btn-group">
            <button type="button" class="btn btn-xs" onClick="duta.closeConversation()" style="float:right">Zakończ</button>
		</div>
	</div>
	<div class="tabMessages">
						
	</div>
	<div class="tabMyMessage">
		<textarea rows="4" style="width: inherit" class="messageToSend"></textarea>
	</div>
	<div class="tabBottomMenu">
		<button type="button" class="btn btn-sm" onClick="duta.sendMessage('{{users}}')">
			Wyślij
		</button>
	</div>
</div>