@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>chwytliwy tytuł</h1>
                <h2>jakis tekst</h2>
            </hgroup>
            <p>

            </p>
        </div>
    </section>
}
<h3>Nasza aplikacja:</h3>
<p>
    jakies obrazki czy cos
 </p>
