@{
    ViewBag.Title = "Strona Główna";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Duta</h1>
            </hgroup>
            <p>
                multiplatformowy komunikator
            </p>
        </div>
    </section>
}
<h3>Duta:</h3>
<ol class="round">
    <li class="one">
        jakies marketingowe bzdety
    </li>

</ol>
