@{
    ViewBag.Title = "Strona Główna";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Duta</h1>
            </hgroup>
            <p>
                multiplatformowy komunikator
            </p>
        </div>
    </section>
}
<h3>Duta:</h3>
<ol class="round">
    <li class="one">
        najlepszy komunikator w swojej kategorii
    </li>
    <li class="two">
        dostępny na trzy platformy: Web, Android, Windows
    </li>
    <li class="three">
        będziesz zastanawiał się jak mogłeś bez niego żyć
    </li>
</ol>
