<div class="message yellowColor">
	{{#if status}}
		<span class="glyphicon glyphicon-certificate status {{status}}"></span>
	{{else}}
		<span class="status"></span>
	{{/if}}
	<div class="author">{{author}}</div><span class="dateTime">{{dateTime}}</span></br>
	<div class="messageContent">{{messageText}}</div>
</div>